* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: none;
    text-decoration: none;
    text-overflow: none;
    text-transform: none;
    text-rendering: none;
}

h1, h2, h5 {
    color: #253326;
}

p {
    color: #475248;
}

#card a {
    text-decoration: none;
    text-overflow: none;
    text-transform: none;
    text-rendering: none;
    color: #475248;
}


#card img:hover {
    background: #FFF;
    opacity: 65%;
    transition: .3s;
}